.footer {
  padding-top: 10rem;
  margin-top: 10rem;
  background-color: $primary;
  color: white;

  ol {
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 1rem;
    }
  }

  &__nav {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__subscribe {
    text-align: center;

    p {
      margin-top: 1rem;
    }
  }

  &__contact {
    display: flex;
    justify-content: center;

    img {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__credit {
    text-align: center;
    margin-top: 1rem;
  }

  &__about {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    &__subscribe {
      text-align: left;
    }

    &__nav {
      flex-direction: row;
      margin: 0;
      text-align: left;
    }

    &__services {
      margin: 0 auto;
    }

    &__about {
      margin-top: 0;
      margin-left: auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      align-items: flex-start;
    }

    &__credit {
      text-align: left;
    }

    &__contact {
      align-items: flex-start;
      flex-wrap: wrap;

      img {
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-bottom: 1rem;
        margin-left: 1rem;
      }
    }
  }
}
