.footer {
  padding-top: 10rem;
  margin-top: 10rem;
  background-color: $primary;
  color: white;

  .container {
    position: relative;
  }

  &__reoffer {
    position: absolute;
    height: 174px;
    top: -250px;
    width: 100%;

    &__text {
      background-color: #272121;
      height: 100%;
      border-radius: 10px;
      display: flex;
      justify-content: center;

      h1 {
        line-height: 3rem;
      }
    }

    h1 {
      text-align: center;
      font-size: 25px;
      margin: auto;
      max-width: 270px;
    }
  }

  ol {
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 1rem;
    }
  }

  &__nav {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__subscribe {
    text-align: center;

    p {
      margin-top: 1rem;
    }

    &__form {
      display: flex;

      .form-control {
        border-radius: 0.25rem 0 0 0.25rem;
      }

      .btn {
        background-color: #272121;
        border: 1px solid #272121;
        border-radius: 0 0.25rem 0.25rem 0;
      }
    }
  }

  &__contact {
    display: flex;
    justify-content: center;

    img {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__credit {
    text-align: center;
    margin-top: 1rem;
  }

  &__about {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    &__subscribe {
      text-align: left;
    }

    &__nav {
      flex-direction: row;
      margin: 0;
      text-align: left;
    }

    &__services {
      margin: 0 auto;
    }

    &__about {
      margin-top: 0;
      margin-left: auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      align-items: flex-start;
    }

    &__credit {
      text-align: left;
    }

    &__contact {
      align-items: flex-start;
      flex-wrap: wrap;

      img {
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-bottom: 1rem;
        margin-left: 1rem;
      }
    }
  }
}
