.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__text {
    line-height: 4rem;
  }

  &__form {
    max-width: 703px;
    margin: 0 auto;
    margin-top: 25px;

    &__container {
      flex-direction: row;
      display: flex;
      position: relative;
    }

    &__name,
    &__domain {
      height: 50px;
    }

    &__name {
      border-radius: 0.25rem 0 0 0.25rem;
      border-right: 0;
    }

    &__separate {
      width: 1px;
      height: 65%;
      background-color: #b2b2b2;
      transform: translateY(25%);
      z-index: 10;
    }

    &__domain {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      width: 131px;
      position: relative;
    }

    &__button {
      border-radius: 0 0.25rem 0.25rem 0;
      border: 1px solid #272121;
      background-color: #272121;

      &:hover,
      &:active,
      &:focus {
        background-color: #272121 !important;
        border: 1px solid #272121;
      }
    }
  }

  &__promo {
    margin-top: 10px;
    font-size: 13px;
    line-height: 1.5rem;
    color: white;
  }
}
