.hosting-price {
  margin-top: 10rem;

  &__title {
    text-align: center;

    h1 {
      line-height: 4rem;
    }
  }

  &__list {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 295px;
    width: 295px;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);

    &__feature {
      margin-top: 1rem;
      padding: 2rem;
    }

    &__heading {
      position: relative;
      height: 242px;
      background-color: $primary;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px 10px 0 0;
    }

    &__name {
      text-align: center;
      font-size: 25px;
      text-transform: capitalize;
      font-weight: 800;
      margin-bottom: 1.5rem;
    }

    &__price {
      text-align: center;

      &__discount {
        display: flex;
        justify-content: center;
      }

      &__original {
        text-decoration: dashed;
      }

      &__nominal {
        font-size: 40px;
      }
    }

    &__button {
      position: absolute;
      bottom: -19px;
      left: 50%;
      transform: translateX(-50%);

      .btn {
        width: 189px;
      }
    }
  }
}
