$primary: #e16428 !default;
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './nav.scss';
@import './hero.scss';
@import './domain-price.scss';

* {
  font-family: 'Epilogue', sans-serif;
}

h1 {
  font-size: 40px;
}
