.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  padding-top: 23px;
}

.nav {
  &-item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
